.nav {
  &_wrapper {
    align-items: center;
    ul {
      margin-right: 15px;
      li {
        a {
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          transition: 0.3s;
          white-space: nowrap;
          &.statusLink {
            color: #db0505 !important;
            // height: 19px;
            display: flex;
            align-items: center;
            line-height: 24px;
            svg {
              width: 16px;
              height: 16px;
              margin-left: 3px;
              path {
                fill: #db0505;
              }
            }
          }
          &:hover {
            color: $brandColor;
            svg {
              path {
                fill: $brandColor;
              }
            }
          }
        }
        margin: 0 15px;
      }
    }
  }
}

header {
  padding: 20px 0;
  .logo {
    transform: translateY(4px);
  }
}
.headerWrapper {
  background: $brandColorDark;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 30;
  img.logoPng {
    display: none;
  }
  .btn {
    &_profile {
      color: #fff !important;
      height: 34px;
      svg {
        margin-right: 10px;
        path {
          fill: $brandColor !important ;
        }
      }
    }
  }
  &.profile {
    position: inherit;
    background-color: #fff;
    .CheckIcon {
      path {
        fill: transparent !important;
      }
    }
    img.logoPng {
      display: inline-block;
    }
    .logo {
      svg {
        display: none;
      }
    }
    * {
      color: $brandTextColor;
    }
    .btn {
      color: $brandColor !important;
      border-color: $brandColor !important;
      &_profile {
        color: #fff !important;
        height: 34px;
        &:hover {
          color: #fff !important;
        }
        svg {
          margin-right: 10px;
        }
      }
    }
    svg {
      path {
        fill: $brandTextColor;
      }
    }
  }
}

.burgerMenu {
  &_icon {
    margin-left: 15px;
    display: inline-block;
  }
}
.notificationBell {
  position: relative;
  cursor: pointer;
  span {
    position: absolute;
    background-color: #db0505;
    color: #fff !important;
    border-radius: 40px;
    font-size: 10px;
    padding: 2px 4px;
    min-width: 15px;
    height: 15px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10px;
    top: 1px;
  }
}

@media only screen and (max-width: 768px) {
  .headerWrapper.profile {
    hr {
      border-color: #ccc;
    }
  }
  .mobileLogout {
    stroke: $brandColor;
  }
  .headerWrapper.profile ul * {
    color: $brandColor;
  }
  .statusLink {
    display: block !important;
    line-height: 19px !important;
  }
  .headerWrapper.profile ul svg path {
    fill: $brandColor;
  }
  .logo {
    svg {
      width: 153px;
    }
  }
  header {
    .btn {
      font-size: 12px;
      height: 28px;
      border-radius: 7px;
      position: relative;
    }
    .navList {
      position: absolute;
      z-index: 300;
      flex-direction: column;
      background: $brandColorDark;
      width: 100%;
      left: 0;
      top: 68px;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 0px;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      li {
        width: 200px;
        margin-bottom: 15px;
      }
      &.open {
        max-height: 400px;
        padding-top: 20px;
        padding-bottom: 30px;
        border-top: 1px solid #fff;
      }
    }
  }
  .headerWrapper.profile {
    .navList {
      background-color: #fff;
      a {
        color: $brandColor;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .notificationBell {
    max-width: 15px;
  }
  .profile_userHeading {
    text-align: left !important;
  }
  .profile_aboutMe {
    text-align: left !important;
  }
  .contactViewSwitch {
    margin-left: 0px !important;
  }
  .contactViewSwitch {
    display: inherit !important;
  }
  .profile_contacts {
    justify-content: flex-start;
  }
}
