.mainSection {
  padding-top: 219px;
  padding-bottom: 600px;
  h1 {
    color: #fff;
    font-weight: 400;
    line-height: 54px;
    font-size: 42px;
    margin-bottom: 38px;
  }
  .btn {
    max-width: 380px;
    height: 54px;
    font-family: $mainFontCaps;
  }
}
.mainBg {
  background-color: #00431a;
  background: url("../public/imgs/new2\ 1.png");
  background-position: center;
  background-size: cover;
}

.stepsSection {
  margin-top: -500px;
  padding-top: 200px;
  &_card_Wrapper {
    width: 276px;
    background: #f7f7f7;
    box-shadow: 0px 7px 16px rgba(160, 160, 160, 0.25);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: ;
    min-height: 347px;
    justify-content: space-around;
    .numberHint {
      position: absolute;
      width: 82px;
      height: 82px;
      border-radius: 600px;
      z-index: 2;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);

      span {
        position: absolute;
        left: 50%;
        top: 25px;
        font-weight: bold;
        font-family: $mainFontCaps;
        font-size: 22px;
        transform: translate(-50%, -50%);
      }
    }

    p {
      font-size: 14px;
    }
    .img-wrapper {
      height: 140px;
      padding-top: 20px;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      font-family: $mainFontCaps;
    }
  }
  h2 {
    color: #fff;
  }
}

.testimonialSection {
  padding-top: 170px;
  .container {
    max-width: 1020px;
  }
  h2 {
    margin-bottom: 40px;
  }
  &_card {
    background: #f1fdf7;
    width: 320px;
    box-shadow: 0px 2px 5px rgba(160, 160, 160, 0.25);
    border-radius: 4px;
    padding: 25px;
    border-radius: 4px;
    p {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
    }
    .author {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 25px;
        border-radius: 50px;
      }
      div {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}
.faqSection {
  background: #fff;
  padding-top: 260px;
  padding-bottom: 130px;
  // margin-top: -100px;
  h2 {
    margin-bottom: 40px;
  }
}

.faq {
  &_wrapper {
    margin-bottom: 20px;
    background: #f7f7f7;
    box-shadow: -1px 1px 4px #e3e3e3;
    border-radius: 4px;
    transition: 0.3s;

    .faq_answer {
      max-height: 0px;
      overflow: hidden;
    }
    &.open {
      .faq_question {
        div {
          color: $brandColor;
        }
        .dot {
          * {
            fill: $brandColor !important;
          }
        }
        .arrow {
          transform: rotate(180deg);
          transition: 0.3s;
          path {
            stroke: $brandColor !important;
          }
        }
      }
      background: $brandColorLight;
      .faq_answer {
        max-height: 400px;
        transition: 1s;
      }
    }
  }
  &_question {
    display: flex;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
    cursor: pointer;
    * {
      font-family: $mainFontCaps;
    }
  }
  &_answer {
    font-size: 14px;
    p {
      padding-left: 24px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 50px;
    }
  }
}

.contactSection {
  background: url("../public/imgs/new2\ 1\ \(1\).png");
  padding-top: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 90px;
  h2 {
    color: #fff;
  }
  &_from {
    .form-group {
      margin-bottom: 30px;
    }
    .form-control {
      background-color: transparent;
      border-color: transparent !important;
      border-bottom-color: #fff !important;
      color: #fff;
      border-radius: 0;
      font-size: 14px;
      padding-left: 0;
      padding-bottom: 9px;
      &.textarea {
        border-color: #fff !important;
        border-radius: 4px;
        min-height: 140px;
        padding-left: 10px;
        margin-top: 10px;
        display: inline-block;
      }
      &::placeholder {
        color: rgba(255, 255, 255, 0.779);
      }
    }
    .form-control.is-invalid:focus,
    .was-validated .form-control:invalid:focus {
      border-color: #dc3545;
      box-shadow: none;
    }
    .form-control:focus {
      box-shadow: none !important;
    }
  }
  button {
    max-width: 120px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
  }
  .btn_wrapper {
    display: flex;
    justify-content: end;
  }
}

footer {
  // padding-top: 60px;
  padding-top: 30px;
  margin-top: 50px;
  ul {
    li {
      margin-bottom: 9px;
      a {
        text-decoration: none;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .socials {
    svg {
      margin-right: 20px;
    }
    a {
      text-decoration: none;
    }
  }
  .copyRight {
    margin-top: 60px;
    border-top: 1px solid #e3e3e3;
    padding: 17px 0;
  }
}

h2 {
  font-size: 28px;
  font-family: $mainFontCaps;
  margin-bottom: 33px;
  text-align: center;

  line-height: 19px;
  font-weight: 400;
}
.swiper-slide {
  text-align: center;
  img {
    max-width: 80%;
  }
}
.swiper {
  padding-right: 36px;
  padding-left: 11px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: $brandTextColor;
}

.partners {
  padding-top: 170px;
  padding-bottom: 100px;
  h2 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .partners {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .mainSection {
    padding-top: 156px;
    padding-bottom: 497px;
    h1 {
      font-size: 26px;
      text-align: center;
      line-height: 36px;
    }
    .btn {
      margin: auto;
    }
  }
  .stepsSection_card_Wrapper {
    margin: auto;
    margin-bottom: 74px;
    margin-top: 0 !important;
  }
  .testimonialSection {
    margin-top: 58px;
  }
  .testimonialSection_card {
    margin: auto;
    margin-bottom: 30px;
    max-width: 320px;
    width: 100%;
  }
  .faqSection {
    padding-top: 188px;
  }
  .faq_question * {
    font-size: 12px;
  }
  .faq_answer p {
    font-size: 13px;
  }
  h2 {
    font-size: 19px;
  }
  footer {
    margin-top: 30px;
    text-align: center;
    padding-top: 31px;
  }
}
