.houseStatement {
  margin-top: 90px !important;
  max-width: 1320px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;

  &_price {
    padding-right: 80px;
    svg {
      margin-left: 5px;
      margin-right: 10px;
    }
  }

  .slider-wrapper {
    max-height: 70vh;
    // padding-top: 50px;
    .slider {
      img {
        height: 100%;
        max-width: 1200px;
        object-fit: contain;
      }
      div {
        height: 70vh;
      }
    }
  }
  .carousel-status {
    display: none;
  }
  .thumbs-wrapper {
    transform: translateY(-46px);
    max-width: 1200px;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .thumb {
      border: 1px solid #ffffff;
      padding: 0;
      border-radius: 3px;
      width: 121px !important;
      height: 79px;
      &:hover {
        border: 2px solid #19a463;
      }
      img {
        margin: 0;
        width: 121px;
        height: 79px;
      }
      &.selected {
        border: 2px solid #19a463;
      }
    }
  }
  .control-dots {
    display: none;
  }
  .carousel-root {
    background: #000;
  }
  //   .carousel {
  //     transform: translateY(60px);
  //   }

  .carousel .control-arrow.control-prev:before,
  .carousel.carousel-slider .control-arrow.control-prev:before {
    background: url("./../public/imgs/sliderLeftArrow.svg");
    width: 98px;
    height: 98px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    left: -53px;
    position: absolute;
    transform: translateY(-50%);
  }

  .carousel .control-arrow.control-next:before,
  .carousel.carousel-slider .control-arrow.control-next:before {
    background: url("./../public/imgs/sliderLeftArrow.svg");
    width: 98px;
    height: 98px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    left: -44px;
    position: absolute;
    transform: rotate(180deg) translateY(50%);
  }
}

.phoneBlock {
  background: #ffe9ae;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
  svg {
    margin-right: 14px;
    path {
      fill: #00431a;
    }
  }
  .label {
    font-size: 12px;
  }
  * {
    color: #00431a;
  }
  .phoneNumber {
    font-size: 16px;
    font-weight: 600;
  }
}
.mainSpecifications {
  padding-top: 30px;
  border-top: 1px solid #e3e3e3;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  > div {
    min-width: 33%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    &.green {
      span {
        display: flex;
        align-items: center;

        color: #19a463;
        svg {
          margin-left: 5px;
        }
      }
    }
  }
  * {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
}
.description {
  padding-top: 30px;
  border-top: 1px solid #e3e3e3;
  margin-bottom: 20px;
  h1 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 21px;
    font-family: $mainFontCaps;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
}

.specifications {
  padding-top: 30px;
  border-top: 1px solid #e3e3e3;
  padding-bottom: 100px;
  label {
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: $mainFontCaps;
  }
}

.specifications_list {
  display: flex;
  flex-wrap: wrap;
  > div {
    min-width: 33%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 17px;
    svg {
      margin-right: 8px;
    }
  }
}

.mr-12 {
  margin-right: 12px !important;
}

.f-25 {
  font-weight: 400;
  font-size: 24px !important;
  line-height: 32px;
}

.f-13 {
  font-size: 13px !important;
}
.carousel .thumbs-wrapper {
  overflow: inherit !important;
  height: 1px;
}
.statementContainer {
  background-color: #fff;
  max-width: 1320px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;

  * {
    font-size: 14px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.priceSwitcher {
  background: #f7f7f7;
  width: 61px;
  height: 24px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 10px;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    border-radius: 11px;
    background-color: #f9c745;
  }
  svg {
    position: relative;
  }
  &.usd {
    &::before {
      left: inherit;
      right: 0;
    }
  }
}

.eachPay {
  width: 301px;
  height: 62px;
  background: #ffe9ae;
  border-radius: 10px;
  padding-left: 23px;
  padding-right: 23px;
  .priceBlock {
    padding-right: 10px;
  }
  .currencyBlock {
    margin-left: 5px;
    background: #f9c745;
    border-radius: 11px;
    width: 33px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      display: block;
      margin-left: inherit;
      margin-right: 3px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .eachPay {
    width: 100%;
    padding-right: 20px !important;
    margin-left: 0px !important;
  }
  .statementContainer {
    padding-left: 0px;
    padding-right: 0px;
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .houseStatement_price {
    padding-right: 0px;
    margin-left: 23px;
    margin-top: 15px;
  }
  .houseStatement .slider-wrapper .slider div {
    height: 222px;
  }
  .houseStatement .thumbs-wrapper .thumb {
    border: 1px solid #ffffff;
    padding: 0;
    border-radius: 3px;
    width: 76px !important;
    height: 52px;
  }
  .houseStatement .slider-wrapper .slider img {
    min-height: 200px;
  }

  .houseStatement .carousel .control-arrow.control-next:before,
  .houseStatement .carousel.carousel-slider .control-arrow.control-next:before {
    width: 64px;
    height: 64px;
    left: -27px;
    top: 141px;
  }

  .houseStatement .carousel .control-arrow.control-prev:before,
  .houseStatement .carousel.carousel-slider .control-arrow.control-prev:before {
    width: 64px;
    height: 64px;
    left: -35px;
    top: 141px;
  }
  .carousel {
    position: absolute;
  }
  .houseStatement .slider-wrapper {
    padding-top: 0;
  }
  .carousel .thumbs {
    padding-left: 0;
  }
  .specifications_list div {
    width: 100%;
  }
  .mainSpecifications div {
    width: 100%;
    margin-bottom: 12px;
  }
  .firtLinetr {
    // margin-top: 70px !important;
  }

  .carousel .thumbs-wrapper {
    height: 0 !important;
    overflow: inherit;
  }
  .houseStatement .thumbs-wrapper {
    transform: translateY(-19px);
  }

  .mapWrapper {
    height: 250px !important;
  }
  .houseCard {
    margin: 0 !important;
  }
  .houseCard_link {
    display: block;
    padding: 15px;
  }
  .searchPage .container {
    // padding-top: 20px !important;
  }
}
