.login {
  min-height: calc(100vh - 0px);
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  .loginSection {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 700px !important;
    padding-top: 143px;
  }
  footer {
    border-top: 1px solid grey;
  }
}

.loginSection_container {
  display: flex;
  width: 100%;

  background: #ffffff;
  box-shadow: 0px 7px 16px rgba(170, 170, 170, 0.25);
  border-radius: 6px;
  height: 500px;
  .form_title {
    margin-bottom: 60px;
    color: $brandColor;
  }
  .label {
    font-size: 14px;
    text-decoration: none;
  }
  .form-control-label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  .form-control {
    margin-bottom: 15px;
    width: 245px;
    background: #f7f7f7;
    &:focus {
      border-color: $brandColor;
      box-shadow: none;
    }
    // &.password {
    //   position: relative;
    //   display: inline-block;

    // }
  }
  button {
    box-shadow: 0px 2px 4px rgba(75, 75, 75, 0.25);
    border-radius: 6px;
  }

  .leftSide {
    width: 260px;
    background: url("../public/imgs/Untitled-2ss 1.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    p {
      color: #fff;
      margin-top: 38px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .form_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 260px);
  }
}
.resetPassword {
  &_fromProfile {
    min-height: inherit;
    .loginSection {
      padding-top: 0px !important;
    }
  }
  .loginSection_container {
    height: inherit;
    .form_Wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
      max-width: 300px;
      input {
        width: 100%;
      }
    }
  }
}
.reset_pass.loginSection_container {
  box-shadow: none !important;
}
.reset_pass {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  form {
    width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .login .loginSection {
    width: 100%;
    max-width: 330px;
  }
  .loginSection_container .form_Wrapper {
    // /* width: calc(100% - 260px); */
    width: auto;
    margin: auto;
  }

  .loginSection_container {
    height: 434px;
  }
  .loginSection_container .form_title {
    margin-bottom: 46px;
  }
}
