.profile {
  &_wrapper {
    max-width: 1300px;
    margin: auto;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
  }

  &_sideBar {
    width: 100%;
    max-width: 300px;
    padding-right: 50px;
    border-right: 1px solid #e3e3e3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: max-he;
    max-height: 100vh;
    overflow: auto;
  }

  &_mainContent {
    width: calc(100% - 300px);
    padding-top: 20px;
    padding-left: 15px;
    // text-align: center;
  }

  &_userHeading {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    padding-top: 10px;

    img {
      width: 90px;
      height: 90px;
      border-radius: 90px;
      object-fit: cover;
      display: inline-block;
      margin-right: 23px;
    }

    span {
      color: $brandTextColor;
    }
  }

  &_aboutMe {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;

    p {
      margin-top: 20px;
      font-size: 14px;
    }
  }

  &_contacts {
    margin-top: 30px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 30px;

    p {
      font-size: 13px;
    }

    div {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      svg {
        width: 40px;
        text-align: left;
      }

      a {
        text-decoration: none;
      }
    }
  }

  &_menu {
    a {
      text-decoration: none;
      height: 31px;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 5px;

      svg {
        width: 35px;
      }

      &:hover,
      &.active {
        background-color: #ffe9ae;
        color: $brandColor;

        .payStatus {
          background-color: #e2eeed;
        }

        svg {
          path {
            stroke: $brandColor;
          }

          &.fillHover {
            path {
              stroke: inherit;
              fill: $brandColor;
            }
          }
        }
      }
    }
  }
}

.balance {
  &_wrapper {
    // background-color: #fff;
    min-height: 53vh;
    margin-top: 20px;
    margin-left: 15px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      color: $brandColor;
    }
  }

  &_container {
    max-width: 230px;
    width: 100%;
    margin: auto;
  }
}

.statusLink {
  display: flex;
  justify-content: space-between;

  .btn {
    font-size: 13px;
  }
}

.payStatus {
  background: #fdd5d5;
  color: #db0505;
  font-size: 13px;
  height: 30px;
  border-radius: 6px;
}

.answersPreview {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 25px;
  margin-bottom: 30px;
  text-align: left;

  // margin-left: 15px;
  h2 {
    font-size: 18px;
    text-align: left;
    line-height: 24px;
    color: $brandTextColor;
  }
}

.editQuestion_item {}

.profile_tab {
  background-color: #fff;
  box-shadow: 0px 7px 16px rgba(170, 170, 170, 0.25);
  border-radius: 6px;
  padding: 4px;
  width: 100%;
  overflow: auto;

  >div {}

  a {
    padding: 6px 20px;
    font-size: 14px;
    white-space: nowrap;
  }

  a.active {
    background-color: #f9c745;
    color: #00431a;
  }
}

.notification {
  &_card {
    // margin: 20px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 7px 16px rgba(160, 160, 160, 0.25);
    border-radius: 6px;
    width: 310px;
    margin-bottom: 15px;

    &.receive {
      background: $brandColorLight;
    }

    img {
      width: 79px;
      height: 73px;
      border-radius: 6px;
      object-fit: cover;
    }

    p {
      font-size: 12px;
      padding-left: 15px;
      padding-top: 8px;
    }

    button {
      height: 34px;
      font-size: 13px;
    }
  }

  &_footer {
    padding-top: 19px;
  }
}

.payModal {
  &_wrapper {
    position: absolute;
    z-index: 34;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;

    .blurBg {
      width: 100%;
      height: 100%;
      position: absolute;
      // filter: blur(4px);
      left: 0px;
      top: 0px;
      z-index: 30;
      backdrop-filter: blur(6px);
    }

    .buyModal {
      padding: 35px 50px;
      background-color: #fff;
      max-width: 750px;
      width: 100%;
      box-shadow: 0px 7px 16px rgba(170, 170, 170, 0.25);
      border-radius: 6px;
      position: relative;
      z-index: 34;

      h2 {
        line-height: 30px;
        font-size: 18px;
        max-width: 360px;
        margin: auto;
      }

      p {
        font-size: 18px;
        border-top: 1px solid #e3e3e3;
        font-size: 16px;
        padding-top: 50px;
        margin-top: 45px;
        padding-bottom: 40px;
      }

      .btn {
        width: 170px;
        height: 35px;
        box-shadow: 0px 2px 4px rgba(75, 75, 75, 0.25);
      }
    }
  }
}

.answersPreview_wrapper {
  .answersPreview {
    padding: 10px;
    margin-bottom: 5px;

    h2 {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 10px;
    }
  }

  .createProfile_checkboxItem {
    background: #f7f7f7;
    border-radius: 4px;
    padding: 2px 8px;
    display: inline-block !important;
    margin-right: 10px;
    margin-bottom: 0 !important;
    font-size: 14px;
  }
}

.contactViewSwitch {
  display: flex;
  justify-content: center;
  font-size: 13px;
  margin-top: 6px;

  >div {
    cursor: pointer;
  }

  .form-check {
    cursor: pointer;

    input {
      cursor: pointer;
    }
  }
}

// .profile_Wrapper {
//   max-width: 1300px;
//   margin: auto;
// }
.toltipWrapper {
  position: relative;

  &:hover {
    p {
      display: block;
    }
  }

  p {
    position: absolute;
    display: none;
    background: #ffff;
    box-shadow: 0px 7px 16px rgb(170 170 170 / 25%);
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
    top: 0px;
    text-align: center;
    transform: translate(30%, -100%);
  }
}

.notificationsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-height: 768px) {
  .profile_aboutMe {
    margin-top: 9px;
    padding-bottom: 0px;
  }

  .profile_userHeading img {
    width: 70px;
    height: 70px;
  }

  .profile_contacts {
    margin-top: 17px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 12px;
  }
}

.headerWrapper.profile {
  .mainLogo {
    display: none !important;
  }
}

.imgUploadWrapper {
  position: relative;

  .cameraIcon {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 0px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.435);
    padding: 2px;
    border-radius: 6px;
    left: 50%;
    bottom: -30px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.635);
    }
  }
}

@media only screen and (max-width: 768px) {
  .profile_tab a {
    padding: 6px 7px;
    font-size: 11px;
  }

  .profile_userHeading {
    display: flex;
    align-items: center;
  }

  .imgUploadWrapper .cameraIcon {
    cursor: pointer;
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 0px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.435);
    padding: 2px;
    border-radius: 6px;
    left: 46%;
    bottom: 4px;
  }

  .contactViewSwitch .form-check {
    min-width: 224px;
  }

  .contactViewSwitch {
    label {
      width: 190px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .contactViewSwitch {
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin: auto;
  }

  .toltipWrapper {
    p {
      min-width: 200px;
      transform: translate(9%, -100%);
      transform: translate(-90%, -44%);
      z-index: 3;
    }
  }

  .profile_userHeading {
    text-align: center;
  }

  .answersPreview_wrapper .createProfile_checkboxItem {
    margin-bottom: 5px !important;
    padding: 2px 7px !important;
  }

  .answersPreview_wrapper .answersPreview {
    padding-top: 8px !important;
  }

  .profile_aboutMe {
    text-align: center;

    p {
      margin-top: 6px;
      font-size: 13px;
      margin-bottom: 0;
    }
  }

  .profile_contacts {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    margin-top: 14px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 5px;
  }

  .notification_card {
    width: 100%;
    max-width: 400px;
  }

  .userCard_wrapper {
    max-width: 100%;
  }

  .notificationsContainer {
    max-width: 100%;
  }

  .profile {
    &_wrapper {
      flex-direction: column;

      .createProfile_checkboxItem {
        padding: 9px 10px;
      }

      &.balance,
      &.edit {
        .profile_aboutMe {
          display: none;
        }

        .profile_contacts {
          display: none;
        }
      }
    }

    &_aboutMe {
      margin-top: 10px;
      padding-bottom: 10px;
    }

    &_mainContent {
      width: calc(100% - 0px);
      padding-left: 0;

      .answersPreview {
        margin-left: 0;
        padding: 19px 17px 2px;

        h2 {
          font-size: 15px;
          text-align: left;
          line-height: 17px;
        }
      }
    }

    &_sideBar {
      margin: auto;
      padding-right: 0;
      border-right: 0;
      max-width: 100%;
      position: inherit;
    }

    &_menu {
      display: none;
    }

    &_userHeading img {
      width: 50px;
      height: 50px;
    }
  }
}

.reportModal {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0%);
  z-index: 3;
  background-color: #fff;

  max-width: 80%;
  width: 500px;
  z-index: 30;
  box-shadow: 0px 1px 4px 2px;
  border-radius: 5px;
  padding: 10px 20px;

  label {
    margin-bottom: 8px;
    cursor: pointer;

    input {
      margin-right: 10px;
      display: inline-block;
    }
  }

  &-header {
    justify-content: space-between;
  }

  &-reason {
    padding-left: 10px;
    border-top: 1px solid #000;
    margin-top: 15px;
    padding-top: 25px;
    margin-bottom: 20px;
  }

  img {
    max-width: 30px;
  }
}