.searchPage {
  min-height: 100vh;
  padding-top: 70px;
  .container {
    max-width: 900px;
  }
  .searchBtnWrapper {
    border-top: 1px solid #e3e3e3;
    padding-top: 25px;
    // margin-top: 25px;
  }
}

.search {
  &_sideBar {
    max-width: 300px;
    width: 100%;
    padding-right: 20px;
    border-right: 1px solid #e3e3e3;
  }
  &_mainContent {
    max-width: 526px;
    width: 100%;
    margin-left: 50px;
  }
}

.search_item {
  margin-bottom: 20px;
  font-size: 14px;
  > label {
    margin-bottom: 4px;
  }
  &-choice {
    .inputsWrapper {
      justify-content: space-between;
      input {
        width: 48%;
        display: inline-block;
        background: #e3e3e3;
        border: none;
        border-radius: 5px;
        padding: 8px 10px;
      }
    }
  }
  .selectBtn {
    background: #e3e3e3;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 10px;
    cursor: pointer;
    position: relative;
    .optionsWrapper {
      padding: 10px;
      position: absolute;
      left: 0;
      top: 35px;
      max-height: 249px;
      /* height: 100%; */
      background: #e3e3e3;
      /* min-height: 200px; */
      width: 100%;
      z-index: 2;
      overflow: auto;
      //   min-height: 300px;
    }
  }
}

.locationSearch {
  &_wrapper {
    margin-bottom: 20px;
    .selectBtn {
      height: 0;
      padding: 0;
    }
    .optionsWrapper {
      top: 0 !important;
      display: flex;
      flex-wrap: wrap;
      > div {
        cursor: pointer;
        width: 48%;
      }
    }
  }

  &_input {
    padding: 10px;
    border: 1px solid $brandColor;
    border-radius: 4px 0px 0px 4px;
    height: 40px;
    font-size: 14px;
    display: block;
    width: 100%;
    overflow: hidden;
    display: flex;
    div {
      white-space: nowrap;
    }
  }
  &_button {
    border-radius: 0px 4px 4px 0px;
    height: 40px;
    span {
      color: #fff;
      padding-left: 8px;
    }
  }
}

.userCard {
  &_wrapper {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 7px 16px rgba(170, 170, 170, 0.25);
    border-radius: 6px;
    padding: 18px 20px;
    max-width: 560px;
    width: 100%;
    .bluer {
      filter: blur(4px);
    }
  }
  &_body {
    margin-top: 16px;
    margin-bottom: 14px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 3px;
    }
    p {
      font-size: 14px;
      margin-left: 15px;
      line-height: 19px;
      height: 100px;
      overflow: hidden;
      border-top: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 0;
      width: 100%;
    }
  }
  &_footer {
    * {
      font-size: 12px;
    }
    svg {
      margin-right: 9px;
    }
    &_locations {
      overflow: hidden;
      width: 260px;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
    }
  }
}

.checkbox_item {
  position: relative;
  min-width: 25px;
  margin-top: 10px;
}
.checkbox_wrapper-search {
  align-items: flex-start;
  margin-bottom: 10px;
  .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 9px;
  }
  .checkmark {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    height: 13px;
    width: 13px;
  }
}
.selectedSearch_wrapper {
  margin-top: 7px;
}
.searchCancel {
  font-size: 12px;
  position: relative;
  display: inline-block;
  padding-right: 14px;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  padding: 2px 15px 0px 6px;
  border-radius: 3px;
  svg {
    position: absolute;
    right: 0;
  }
}
.searchMenu_btn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}
///
///

@media only screen and (max-width: 768px) {
  .locationSearch_input {
    width: calc(100vw - 176px);
  }

  .search_item-choice .inputsWrapper input {
    padding: 5px 8px;
  }
  .userCard_body {
    margin-top: 6px;
    margin-bottom: 8px;
  }

  .userCard_wrapper {
    margin-bottom: 15px;

    padding: 5px 10px;
    * {
      font-size: 11px !important;
    }
    .userCard_footer_locations {
      width: 125px;
    }
    .userCard_body p {
      font-size: 14px;
      margin-left: 12px;
      line-height: 12px;
      height: 100px;
      padding-top: 6px;
      padding-bottom: 1px;
    }
  }

  .search_sideBar {
    .searchCancel {
      font-size: 11px !important;
      background-color: #f5f2f2;
    }
    display: none;
    position: absolute;
    background: #fff;
    padding: 10px;
    width: 100vw;
    max-width: 100vw;
    max-width: calc(100vw - 40px);
    top: 150px;
    .search_item .selectBtn {
      background: #e3e3e3;
      border-radius: 6px;
      font-size: 14px;
      padding: 5px 8px;
    }
    .search_item {
      margin-bottom: 10px;
    }
    * {
      font-size: 12px;
    }
    &.openSearchMenu {
      display: block;
    }
    .search_item > label {
      font-size: 12px;
    }
  }
  .searchPage .container {
  }
  .search_mainContent {
    margin: auto;
  }
  .locationSearch_input {
    height: 31px;
    font-size: 12px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
  }
  .locationSearch_button {
    height: 31px;
  }
}
