@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-bg: 0, 0%, 98%;

    --primary-beta: 152, 73%, 43%, 1;
    --hover-beta: 152, 73%, 35%, 1;
    --pressed-beta: 152, 73%, 26%, 1;
    --white-text-beta: 0, 0%, 100%, 1;
    --selected-focus-beta: 152, 73%, 35%, 1;
    --input-focus-beta: 344, 75%, 63%, 1;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 152, 73%, 43%, 1;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 227 20% 59%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* react-select section start*/
.css-b62m3t-container {
  font-size: 14px !important;
}

.css-1jqq78o-placeholder {
  margin: 0px !important;
  font-size: 14px !important;
}

.css-1fdsijx-ValueContainer {
  padding: 0px !important;
  font-size: 14px !important;
}

.css-1xc3v61-indicatorContainer {
  padding: 0px !important;
}
/* react-select section start end*/

/* phone-input section start*/
.PhoneInput {
  display: flex;
  justify-content: center !important;
  padding: 4px 12px 4px 12px !important;
  height: 48px !important;
  width: 100% !important;
  border-radius: 8px !important;
  border: 1px solid hsl(227, 20%, 59%) !important;
  font-size: 14px !important;
  color: #484848 !important;
}

.PhoneInput--focus {
  outline: #c5758a auto !important;
}

.PhoneInputInput {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.PhoneInputCountrySelect {
  color: #484848 !important;
  font-size: 12px !important;
  font-family: "Courier New", Courier, monospace !important;
  padding: 10px 12px 10px 12px !important;
}

@media (min-width: 768px) {
  .PhoneInput {
    font-size: 14px !important;
  }
  .PhoneInputCountrySelect {
    font-size: 14px !important;
  }
}
/* phone input section end*/
